@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="@Url.GenerateProtectedUrl(ViewContext, "Detail", "Home", new { plate = "06BEU013", customerId = 355432, tcNumber = "22455214522" })" class="btn btn-primary">
        Şifrelenmiş Get İsteği
    </a>
    <a href="/Home/Detail?customerId=3" class="btn btn-danger">Şifresiz Get İsteği</a>
</div>
